<h1>AutoFormBot Home Page!</h1>

<p>Watcha wanna do?</p>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <a href="<%= new_user_session_url %>">Sign In!</a>
  </li>

  <li>
    <a href="<%= new_user_registration_url %>">Sign Up!</a>
  </li>
<% end %>
