<main class='home-page group'>

	<div class='logo' style='position: relative'>
		<img src="../../assets/Screen Shot 2013-10-19 at 12.28.38 PM.png" width="363" height="86" alt="Screen Shot 2013 10 19 At 12.28.38 PM">
		<div class='blinking-cursor' style='background-color: #000; position: absolute; z-index: 10; height: 60px; width: 5px; top: 12px; left: 330px' >
</div>
	<p>Watcha wanna do?</p>

	<% if user_signed_in? %>
	  <li>
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  </li>
	<% else %>
	  <li>
	    <a href="<%= new_user_session_url %>">Sign In!</a>
	  </li>

	  <li>
	    <a href="<%= new_user_registration_url %>">Sign Up!</a>
	  </li>
	<% end %>


</main>

<style>
@keyframes blink {
	from {background: black;}
	to {background: white;}
}
@-webkit-keyframes blink {
	from {background: black;}
	to {background: white;}
}

.blinking-cursor {
animation: blink 1s linear 0.25s infinite normal running;
-webkit-animation: blink 1s linear 0.25s infinite normal running;
}
</style>