<main class='home-page group'>

	<div class='logo' style='position: relative'>
		<h1 id='logo-part1'>Form</h1>

		<div class='logo-box2'>
			<h1 id='logo-part2'>-itable</h1><div class='blinking-cursor'></div>
		</div>


</div>
	<h3>An app that makes it easy to build a web form!</h3>
		<p>Do you need information?  If you are taking a survey, creating job applications or event sign-ups, collecting orders or gathering user feedback, you need a web form.  But making web forms is complicated!  Don't want to learn HTML, CSS, and database management to find out what color widget your client wants to order?  Let us do the work for you!</p>

	<h3>How It Works</h3>

	<p>Use Form-itable to make the form.  Then we'll host the form and give you a link, or give you the code to put on your own site or send out in an email.  Whenever a form is filled out, the data gets sent to our servers automatically.  We can email you the results or you can log in and check them yourself!  It's easy and it's free!</p>

	<% if user_signed_in? %>
	  <li>
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  </li>
	<% else %>
	  <li>
	    <a href="<%= new_user_session_url %>">Sign In!</a>
	  </li>

	  <li>
	    <a href="<%= new_user_registration_url %>">Sign Up!</a>
	  </li>
	<% end %>


</main>

<style>
@keyframes blink {
	from {background: black;}
	to {background: white;}
}
@-webkit-keyframes blink {
	from {background: black;}
	to {background: white;}
}

.blinking-cursor {
animation: blink 1s linear 0.25s infinite normal running;
-webkit-animation: blink 1s linear 0.25s infinite normal running;
}
</style>