<%= stylesheet_link_tag    "home", :media => "all" %>

<main class='home-page-content group'><div class='hover-div'>
  <section class='logo group'>
    <div class= 'logo-box'>
      <h1 id='logo-part1'>Form</h1>

      <div class='logo-box2'>
        <h1 id='logo-part2'>-itable</h1><div class='blinking-cursor'></div>
      </div>
    </div>
  </section>

  <section class='home-page group'>

    <div class='introduction'>

      <h3>Thank you!<br>Your form has been received.</h3>

    </div>
  </section>
</main>