<li
  class='formEl checkbox editing'
  data-sidebar='FormSidebarCheckbox'
>

  <label class='checkbox-label' for='checkbox'
  >Label goes here</label>

  <br>

  <span class='checkbox'>
    <span class="checkbox-option" style="display: inline;">
      <input
        type="checkbox"
        id="Label_goes_here0"
        name="Label goes here[]"
        class="Label_goes_here0"
        value="Option Name"
        disabled="disabled">

      <label
        for="Label_goes_here0"
        class="Label_goes_here0-label">Option Name</label>

    </span>
  </span>

</li>