<li
  class='formEl checkbox editing'
  data-sidebar='FormSidebarCheckbox'
>

  <label for='checkbox'
  ><span class='checkbox-label'>Label goes here</span></label>

  <br>

  <span class='checkbox'>
    <span class="checkbox-option" style="display: inline;">
      <input
        type="checkbox"
        id="Label_goes_here0"
        name="Label goes here[]"
        class="Label_goes_here0"
        value="Option Name"
        disabled="disabled">

      <label
        for="Label_goes_here0"
        ><span class="Label_goes_here0-label">Option Name</span></label>

    </span>
  </span>

</li>