<div
  class='formEl checkbox editing'
  data-sidebar='FormSidebarCheckbox'
>
  <label
    for='checkbox'
    class='checkbox-label'
  >
  </label>

  <input
    type='checkbox'
    class='checkbox'
  />

</div>