<li
  class='formEl checkbox editing'
  data-sidebar='FormSidebarCheckbox'
>

<label class='checkbox-label' for='checkbox'
>&lt;Label goes here&gt;</label>

<br>

<span class='checkbox'></span>

</li>