<li
  class='formEl checkbox editing'
  data-sidebar='FormSidebarCheckbox'
>

<label class='checkbox-label' for='checkbox'
>Label goes here</label>

<br>

<span class='checkbox'>

  <span class='checkbox-option' >

    <input
      type='checkbox'
      id='Label_goes_here0'
      name='results[Label goes here][Option Name]'
      class='Label_goes_here0'
      value='Option Name'
      >

    <label
      for='Label_goes_here0'
      class='Label_goes_here0-label'>Option Name</label>

  </span>

</span>

</li>