<li
  class='formEl dropdown editing'
  data-sidebar='FormSidebarDropdown'
>
<label
  for='dropdown'
  class='dropdown-label'
>&lt;Label goes here&gt;</label>

  <select class='dropdown'>
  </select>

</li>