<div 
  class='formEl editing' 
  id='dropdown'  
  data-sidebar='FormSidebarDropdown'
> 

  <select> 
  
    <option>Option1</option> 
    
    <option>Option2</option> 
    
    <option>Option3</option> 
    
  </select> 
  
</div>