<li
  class='formEl dropdown editing'
  data-sidebar='FormSidebarDropdown'
>
  <label
    for='dropdown'
  ><span
    class='dropdown-label'
    >Label goes here</span></label>

  <select
    class='dropdown'
    name='Label goes here'>
    <option class="dropdownOption0">Option name</option>
  </select>

</li>