<li
  class='formEl dropdown editing'
  data-sidebar='FormSidebarDropdown'
>
<label
  for='dropdown'
  class='dropdown-label'
>Label goes here</label>

  <select class='dropdown'>
    <option class="dropdownOption0">Option name</option>
  </select>

</li>