<li
  class='formEl magicBox editing group'
  data-sidebar='MagicBox'
>
  <span
    id='tamper-seal'
    ></span>
  <div
    class='magicbox-div'
    style='min-height: 20px; min-width: 80px; background-color: #F0E2CA;
      border: 1px solid black;'
    contenteditable></div>
</li>