<li
  class='formEl numbox editing'
  data-sidebar='FormSidebarNumbox'
>

  <label
    for='numbox'
    class='numbox-label'
  >Label goes here</label>

  <input
    type='number'
    class='numbox'
  />

</li>