<li
  class='formEl numbox editing'
  data-sidebar='FormSidebarNumbox'
>

  <label
    for='numbox'
    ><span
      class='numbox-label'
    >Label goes here</span></label>

  <input
    type='number'
    class='numbox'
    name='Label goes here'
  />

</li>