<li
  class='formEl otherForm editing'
  data-sidebar='OtherForm'
>
  <div
    style='min-height: 40px; min-width: 40px; background-color: #F0E2CA'
    >
    <p>
      <br>
      <br>
    </p>
  </div>
</li>