<li
  class='formEl radio editing'
  data-sidebar='FormSidebarRadio'
  style='min-height: 16px'
>
  <label for='radio'
  ><span
    class='radio-label'
    >Label goes here</span></label>

  <br>

  <span class='radio'>
    <span class="radio-option" style="display: inline;">

      <input
        type="radio"
        id="Label_goes_here0"
        name="Label goes here"
        class="Label_goes_here0"
        value="Option name"
        disabled="disabled">

      <label
        for="Label_goes_here0"
        ><span
          class="Label_goes_here0-label"
        >Option name</span></label>

    </span>
  </span>


</li>

