<li
  class='formEl radio editing'
  data-sidebar='FormSidebarRadio'
  style='min-height: 16px'
>
<label class='radio-label' for='radio'
>Label goes here</label>

<br>

<span class='radio'>
  <span class="radio-option" style="display: inline;">

    <input
      type="radio"
      id="Label_goes_here0"
      name="Label goes here"
      class="Label_goes_here0"
      value="Option name"
      disabled="disabled">

    <label
      for="Label_goes_here0"
      class="Label_goes_here0-label"
      >Option name</label>

  </span>
</span>


</li>

