<li
  class='formEl radio editing'
  data-sidebar='FormSidebarRadio'
  style='min-height: 16px'
>
<label class='radio-label' for='radio'
>&lt;Label goes here&gt;</label>

<br>

<span class='radio'></span>


</li>

