<div 
  class='formEl editing' 
  id='telnum' 
  data-sidebar='FormSidebarTelnum'
> 
  
  <input 
    type='text' 
    size='3' 
    maxlength=3 
    style='text-align: center'
  >
    -
  <input 
    type='text' 
    size='3' 
    maxlength=3 
    style='text-align: center'
  >
    -    
  <input 
    type='text' 
    size='4' 
    maxlength=4 
    style='text-align: center'
  > 
    
</div>