<li
  class='formEl editing'
  data-sidebar='FormSidebarTelnum'
>

  <label
    for='telnum'
    ><span
      class='telnum-label'
    >Label goes here</span></label>

  <input
    type='tel'
    class='telnum'
    maxlength='10'
    size='12'
    name='Label goes here'
  >

</li>