<li
  class='formEl editing'
  id='telnum'
  data-sidebar='FormSidebarTelnum'
>

  <label
    for='telnum'
    class='telnum-label'
  >
  </label>

  <input
    type='tel'
    class='telnum'
    maxlength='10'
    size='12'
  >

</li>