<li
  class='formEl textbox editing'
  data-sidebar='FormSidebarTextbox'
>

  <label
    for='textbox'
    class='textbox-label'
  >&lt;Label goes here&gt;</label>

  <input
    type='text'
    class='textbox'
  />

</li>