<div 
  class='formEl editing'
  id='textbox'
  data-sidebar='FormSidebarTextbox'
>
  
  <label
    for='textbox' 
    id='textbox-label'
  >
  </label>
  
  <input 
    type='text' 
    id='textbox'
  />
    
</div>