<li
  class='formEl textarea editing'
  data-sidebar='FormSidebarTextarea'
>

  <label
    for='textarea'
    ><span
      class='textarea-label'
    >Label goes here</span></label>

  <br>

  <textarea
    rows='4'
    cols='20'
    class='textarea'
    name='Label goes here'
  ></textarea>
</li>