<li
  class='formEl textbox editing'
  data-sidebar='FormSidebarTextbox'
>

  <label
    for='textbox'
    ><span
      class='textbox-label'
    >Label goes here</span></label>

  <input
    type='text'
    class='textbox'
    name='Label goes here'
  />

</li>