<li
  class='formEl textarea editing'
  data-sidebar='FormSidebarTextarea'
>

  <label
    for='textarea'
    class='textarea-label'
  >Label goes here</label>

  <br>

  <textarea
    rows='8'
    cols='35'
    class='textarea'
  ></textarea>
</li>