<li
  class='formEl textarea editing'
  data-sidebar='FormSidebarTextarea'
>

  <label
    for='textarea'
    class='textarea-label'
  >&lt;Label goes here&gt;</label>

  <br>

  <textarea
    rows='10'
    cols='50'
    class='textarea'
  ></textarea>
</li>