<div id="checkbox-sidebar">

  <h3>Customize your Checkboxes</h3>

  <table>
    <tr>
      <td>
        <label>Label:&nbsp&nbsp
          <input
            type='text'
            style='display: inline-block'
            name='.checkbox-label'
            onClick="$(this).select()"
            value='<%= label %>'>
        </label>

        <button class='add-option'>Add an Option</button>
      </td>
    </tr>
  </table>

  <table class='checkboxes'></table>

  <label>How should the options be displayed? <br>
  	<label>
  	<input
      type='radio'
      class='vertical'
  	  name='.checkbox-option'
  		data-css='display'
  		value='block'>
  		Vertical
  	</label>

  	<label>
  	<input
  	  type='radio'
      class='horizontal'
  		name='.checkbox-option'
  		data-css='display'
  		value='inline'
  		checked>
  	Horizontal
  	</label>
  </label>

  <br>

  <label>
    <input
      type='checkbox'
      name='.requiredCheckbox'
      <% if(required) { %>
        <%= 'checked' %>
        <% } %>
    />
      These options must be checked
  </label>

</div>