<div id="checkbox-sidebar">

<h2>Customize your Checkboxes</h2>

<label>Label:
  <input type='text'
		style='display: inline-block'
    name='checkbox-label'
    onClick="this.select()"
    value='<%= label %>'>
</label>

<button class='add-option'>Add an Option</button>

<br>

<div class='checkboxes'></div>

<label>How should the options be displayed? <br>
	<label>
	<input
    type='radio'
    class='vertical'
	  name='checkbox-option'
		data-css='display'
		value='block'>
		Vertical
	</label>

	<label>
	<input
	  type='radio'
    class='horizontal'
		name='checkbox-option'
		data-css='display'
		value='inline'
		checked>
	Horizontal
	</label>
</label>

<br>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if(required) { %>
      <%= 'checked' %>
      <% } %>
  />
    At least one option must be checked
</label>

</div>
