<% var $field = ($(field) || $('<div></div>')) %>

<div class="sidebar" id="checkbox-sidebar">

<h2>Customize your Checkboxesl</h2>

<label>Label:
  <input type='text'
		style='display: inline-block'
    name='checkbox-label'
    autofocus
    value='<%= label %>'>
</label>

<button class='add-option'>Add an Option</button>

<br>

<div class='checkboxes'></div>

<label>
  <input
    type='checkbox'
    name="prefilled-check"
    <% myField = $field %>
    <% if($field.find('.checkbox').get(0).hasAttribute('checked')) { %>
      <%= 'checked' %>
      <% } %>
    />
  Prefilled check
</label><br>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if($field.hasClass('required')) { %>
      <%= 'checked' %>
      <% } %>
  />
    At least one option must be checked
</label>

</div>
