
<div class="sidebar" id="dropdown-sidebar">

<h2>Customize your Dropdown</h2>

<label>Label
  <input type='text'
    name='dropdown-label'
    value='<%= label %>'>
</label><br>

<div class='dropdowns'>
<label>How many choices?
  <input type='number'
    name='dropdown'
		min='1'
		max='99'
    value='<%= numOptions %>'>
</label><br>

</div>