<div class='select-option-config'>
  <label
    style="display: inline-block"
  >Option <%= i + 1 %>
    <input
      type='text'
      value='<%= $field.find('.' + name).text() %>'
      name='<%= name %>'/><br>
  </label>

  <button class='delete-button delete-option' name='<%= name %>'>Delete</button>
</div>