<div class="sidebar" >

  <h2>Edit Form Name</h2>

  <label>New Form Name
	  <input
		  id="new-form-name"
			name="formName"
			value="<%= title %>">

	</label>

  <label>New Description
    <textarea id="new-form-description" name="formDescription"
		><%= description %></textarea>
  </label>
</div>