<div class="sidebar" id="form-settings">

  <h2>Customize your Form</h2>

  <label>Url to redirect to after form submission:
    <input type='text'
      style='display: inline-block'
      name=''
  </label>

</div>