
<div class="sidebar" id="form-settings">

  <h2>Customize your Form</h2>

  <label>New Form Name:
    <input
      id="new-form-name"
      onClick="$(this).select()"
      name="formName"
      value="<%= $form.find('.formEl .formName').first().text() %>">
  </label><br>

  <label>Url to redirect to after form submission:
    <input
      type='text'
      style='display: inline-block'
      value='<%= url %>'
      name='redirect-url'
      onClick="$(this).select()"
    />
  </label><br>

  <label>Form width (using px, em, or %):
    <input
      type='text'
      style='display: inline-block'
      data-css='width'
      value="<%= $form.css('width') %>"
      name='form'
    />
  </label><br>

  <label>Form height (using px, em, %, or auto):
    <input
      type='text'
      style='display: inline-block'
      data-css='height'
      value="<%= $form.css('height') %>"
      name='form'
    />
  </label><br>
</div>