
<div class="sidebar" id="form-settings">

  <h2>Customize your Form</h2>

  <label>Url to redirect to after form submission:
    <input
      type='text'
      style='display: inline-block'
      value='<%= url %>'
      name='redirect-url'
      onClick='this.select()'
    />
  </label><br>

  <label>Form width (using px, em, or %):
    <input
      type='text'
      style='display: inline-block'
      data-css='width'
      value='<%= $form.find('form#form-itable').css('width') %>'
      name='form#form-itable'
    />
  </label><br>

  <label>Form minimum height (using px, em, or %):
    <input
      type='text'
      style='display: inline-block'
      data-css='min-height'
      value='<%= $form.find('form#form-itable').css('min-height') %>'
      name='form#form-itable'
    />
  </label><br>

    <label>Font size (using px or em):
    <input
      type='text'
      style='display: inline-block'
      data-css='font-size'
      value='<%= $form.find('form#form-itable').css('font-size') %>'
      name='form#form-itable'
    />
  </label><br>
</div>