<div class="sidebar" id="magic-box-sidebar">

  <h3>Put anything in the magic box!</h3>
  <h4>Copy and paste (or drag and drop) a form from another web page and it will become an editable part of your form!</h4>
  <h4>Pictures, links, anything that you can drag and drop in your browser can be inserted into the box on the form</h4>
  <h4>If you want to add HTML code (like the code to embed a video), but it is appearing as text, add the code into the textarea here and it will be added to the form as code</h4>

  <label>Add HTML here:<br>
    <textarea rows='4' cols='35' id='magic-box-code'></textarea>
  </label>

  <button id='add-HTML'>Add Code</button>

  <h3>Be careful with the code you add, you might break the form!</h3>

</div>