<div
  id="magic-box-sidebar"
  style="width: 501px">

  <h3>Put anything in the magic box!</h3>
  <p>Copy and paste (or drag and drop) a form from another web page into the little brown box.  It will become an editable part of your form!</p>
  <p>Pictures, links, anything that you can drag and drop in your browser can be inserted into the magic box.</p>
  <p>If you want to add HTML code (like the code to embed a video), but it is appearing in the magic box as text, add the code in the box below and it will be put into the magic box as code.</p>

  <br>

  <label>Add HTML here:<br>
    <textarea rows='4' cols='35' id='magic-box-code'
      ><%- $field.html()%></textarea>
  </label>

  <br>

  <button id='add-HTML'>Add Code</button>

  <h3>Be careful with the code you add, you might break the form!</h3>

</div>