<div class='sidebar_window group'>
  <section class='sidebar_header group'>
    <a href="#" id="move-to-add-fields">Add<br>Fields</a>
    <a href="#" id="form-settings">Form<br>Settings</a>
    <a href='#' id='save-form'>Save<br>Form</a>
  </section>

  <div class="sidebar" id="all-fields-sidebar">

  <h2><span>Add a Field!</span></h2>

    <div
      id="text-box-button"
      data-field-template="textbox"
    >Text Box
      <input
      type="text"
      size="10"
      style="width:70px; height:12px; font-size: 8"
      value="Text here!">
      <span class='clear-coat'></span>
    </div>

    <div
      id="text-button"
      data-field-template="text"
    >Text Only
      <span class='clear-coat'></span>
    </div>

    <div
      id="num-box-button"
      data-field-template="numbox"
    >Number Box
      <input type="text" size="5" style="height:12px; font-size: 8" value="12345" disabled>
      <span class='clear-coat'></span>
    </div>

    <div
      id="check-box-button"
      data-field-template="checkbox"
    >Check Box
      <input type="checkbox" style="width:8px; height:8px" checked>
      <span class='clear-coat'></span>
    </div>

    <div
      id="tel-num-button"
      data-field-template="telnum"
    >Telephone Number
      <input type="text" size="11" style="height:12px; font-size: 8" value="5555551234" disabled>
      <span class='clear-coat'></span>
    </div>

    <div
      id="dropdown-button"
      data-field-template="dropdown"
      >Dropdown Selector
      <select size='1'>
        <option>Option1</option>
        <option>Option2</option>
        <option>Option3</option>
      </select>
      <span class='clear-coat'></span>
    </div>

    <div
      id="radio-button"
      data-field-template='radio'
      style="padding:5px"
    >Radio Buttons
      <form style='display: inline-block'>
        <label style='position: relative; top: 5px'>
         <input
            type='radio'
            name='example'
            label='option1'
            style='border: none; height: 0.5em; position: relative; top: -6px'
            checked
          >Option 1
        </label>

          <br>

          <label style='position: relative; top: 5px'>
           <input
              type='radio'
              name='example'
              label='option1'
              style='border: none; height: 0.5em; position: relative; top: -6px; left: -1px'
          >Option 2
          </label>
      </form>
      <span class='clear-coat'></span>
    </div>

    <div
      id="textarea-button"
      data-field-template="textarea"
      style="padding:3px">

      <textarea
        rows='2'
        cols='8'
        id='textarea'
        disabled
      >TextArea
    </textarea>
      <span class='clear-coat'></span>
    </div>

    <div
      id="magicBox-button"
      data-field-template="magic_box"
    >Magic Box!
      <span class='clear-coat'></span>
    </div>

  </div>
</div>