
<div id="radio-sidebar">

<h2>Customize your Radio Buttons</h2>

<label
    style="display: inline-block"
>Label
  <input type='text'
    class='radio-label'
    name='radio-label'
    onClick="this.select()"
    value='<%= label %>'>
</label>

<button class='add-option'>Add an Option</button>

<br>

<div class='radios'></div>

<label>How should the options be displayed? <br>
	<label>
	<input
    type='radio'
    class='vertical'
	  name='radio-option'
		data-css='display'
		value='block'>
		Vertical
	</label>

	<label>
	<input
	  type='radio'
    class='horizontal'
		name='radio-option'
		data-css='display'
		value='inline'
		checked>
	Horizontal
	</label>
</label>

<br>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if(required) { %>
      <%= 'checked' %>
      <% } %>
  />
    Required Field
</label>