<tr>
  <td>
    <div class='radio-option-config'>

      <label
          style="display: inline-block"
      >Option:
        <input type='text'
          name='<%= "." + klass %>'
          data-attribute='value'
          class='option-name'
          onClick="$(this).select()"
          value='<%= optionName %>'>
      </label>

      <button
        class='delete-button delete-option'
        name=".radio-option:has('.<%= klass %>')"
      >Delete</button>
    </div>
  </td>
</tr>