
<div class="sidebar" id="radio-sidebar">

<h2>Customize your Radio Buttons</h2>

<label
    style="display: inline-block"
>Label
  <input type='text'
    class='radio-label'
    autofocus
    value='<%= label %>'>
</label>

<button class='add-option'>Add an Option</button>

<br>

<div class='radios'></div>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if($field.hasClass('required')) { %>
      <%= 'checked' %>
      <% } %>
  />
    Required Field
</label>