<div class='radio-option-config'>
  <label
    style="display: inline-block"
  >Option <%= i + 1 %>
    <input
      type='text'
      value='<%= value %>'
      name='<%= name %>'/><br>
  </label>

  <button
    class='delete-button delete-radio-option'
    name='<%= name %>'
  >Delete
  </button>
</div>