
<div class="sidebar" id="radio-sidebar">

<h2>Customize your Radio Buttons</h2>

<label
    style="display: inline-block"
>Label
  <input type='text'
    class='radio-label'
    value='<%= label %>'>
</label>

<button class='add-option'>Add an Option</button>

<br>

<div class='radios'></div>

<label>How should the options be displayed? <br>
	<label>
	<input type='radio' 
	  name='radio-option' 
		data-css='display' 
		value='block'>
		Vertical
	</label>
	
	<label>
	<input 
	  type='radio' 
		name='radio-option' 
		data-css='display' 
		value='inline' 
		checked>
	Horizontal
	</label>
</label>

<br>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if(required) { %>
      <%= 'checked' %>
      <% } %>
  />
    Required Field
</label>