<div class='sidebar_window group'>
  <section class='sidebar_header group'>
    <a href="#" id="move-to-add-fields">Add<br>Fields</a>
    <a href="#" id="move-to-form-settings">Form<br>Settings</a>
  </section>

</div>