<% var $field = $(field) %>

<div class="sidebar" id="textbox-sidebar">

<h2>Customize Your Telephone Number Field</h2>

<label>Label:
  <input type='text'
    name='telnum-label'
    autofocus
    value='<%= $field.find('.telnum-label').html().trim() %>'>
</label><br>

<label>Maximum number of characters:
  <input
    type='text'
    data-attribute='maxlength'
    value='<%= $field.find('.telnum').attr('maxlength') %>'
    name='telnum'/>
</label><br>

<label>Prefilled content:
  <input
    type='text'
    data-attribute='value'
    value='<%= $field.find('.telnum').val() %>'
    name='telnum'/>
</label><br>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if($field.hasClass('required')) { %>
      <%= 'checked' %>
      <% } %>
  />
    Required Field
</label>

</div>
