
<div class="sidebar" id="textarea-sidebar">

<h2>Customize your Textarea</h2>

<label>Label:
  <input type='text'
    name='textarea-label'
    onClick="this.select()"
    value='<%= $field.find('.textarea-label').text() %>'>
</label><br>

<label>Height (in number of lines)
  <input
    type='text'
    data-attribute='rows'
    value='<%= $textarea.attr('rows') %>'
    name='textarea'/>
</label><br>

<label>Width (in number of characters)
  <input
    type='text'
    data-attribute='cols'
    value='<%= $textarea.attr('cols') %>'
    name='textarea'/>
</label>

<br>

<label>
  <input
    type='checkbox'
    name='requiredCheckbox'
    <% if($field.hasClass('required')) { %>
      <%= 'checked' %>
      <% } %>/>
    Required Field
</label>

</div>
