
<div id="text-sidebar">

  <h3>Customize your Text</h3>

  <table>
    <tr>
      <td>
        <label>Content:</label>
      </td>
      <td>
        <textarea
          name='text-content'
          onClick="$(this).select()"
          cols='35'
        ><%= $text.text() %></textarea>
      </td>
    </tr>
  </table>
</div>
