
<div id="text-sidebar">

  <h3>Customize your Text</h3>

  <table>
    <tr>
      <td>
        <label>Content:</label>
      </td>
      <td>
        <textarea
          name='text-content'
          onClick="this.select()"
          cols='35'
        ><%= $text.text() %></textarea>
      </td>
    </tr>

    <tr>
      <td>
        <label>Font-Size:</label>
      </td>
      <td>
        <input
          type='number'
          data-css='font-size'
          min='1'
          max='999'
          value='<%= $text.css('font-size') %>'
          name='text-content'/>
          (digits only)
      </td>
    </tr>

    <tr>
      <td>
        <label>Font-family:</label>
      </td>
      <td>
        <select
          data-css='font-family'
          name='text-content'>
          <option class='font-family-option'></option>
          <option class='font-family-option'>
            sans-serif</option>
          <option class='font-family-option'>
            serif</option>
          <option class='font-family-option'>
            monospace</option>
          <option class='font-family-option'>
            cursive</option>
          <option class='font-family-option'>
            fantasy</option>
          <option class='font-family-option'>
            Arial, Helvetica, sans-serif</option>
          <option class='font-family-option'>
            Arial Black, Gadget, sans-serif</option>
          <option class='font-family-option'>
            Comic Sans MS, cursive, sans-serif</option>
          <option class='font-family-option'>
            Courier New, Courier, monospace</option>
          <option class='font-family-option'>
            Georgia, serif</option>
          <option class='font-family-option'>
            Impact, Charcoal, sans-serif</option>
          <option class='font-family-option'>
            Lucida Console, Monaco, monospace</option>
          <option class='font-family-option'>
            Lucida Sans Unicode, Lucida Grande, sans-serif</option>
          <option class='font-family-option'>
            Palatino Linotype, Book Antiqua, Palatino, serif</option>
          <option class='font-family-option'>
            Tahoma, Geneva, sans-serif</option>
          <option class='font-family-option'>
            Times New Roman, Times, serif</option>
          <option class='font-family-option'>
            Trebuchet MS, Helvetica, sans-serif</option>
          <option class='font-family-option'>
            Verdana, Geneva, sans-serif</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <label>Font-weight:</label>
      </td>
      <td>
        <label>
          <input
            class='font-weight-option'
            type='radio'
            name='text-content'
            data-css='font-weight'
            value='bold'>
            Bold
        </label>

        <label>
          <input
            class='font-weight-option'
            type='radio'
            name='text-content'
            data-css='font-weight'
            value='normal'>
            Normal
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label>Color:</label>
      </td>
      <td>
        <input
          type='text'
          data-css='color'
          value='<%= $text.css('color') || 'black' %>'
          name='text-content'/>
      </td>
    </tr>

    <tr>
      <td>
        <label>Background<br>Color:</label>
      </td>
      <td>
        <br>
        <input
          type='text'
          data-css='background-color'
          value='<%= $text.css('background-color') || 'white'%>'
          name='text-content'/>
      </td>
    </tr>
  </table>
</div>
