<div id='edit-box'>

<button class= 'edit-box-button' id='save-button'>Save Form</button>

<button class= 'edit-box-button' id='delete-field'>Delete this field</button>

<span id='customizations'></span>

<button class= 'edit-box-button' id='duplicate-field'>
  Drag a copy of this field from here</button>

<button class= 'edit-box-button' id='done-button'>Done editing</button>

</div>