<div id='edit-box' style="min-width: 390px">

<button
  class='edit-box-button'
  id='save-button'
  style="background-color: #ffffc2;"
  >Save Form</button>

<button
  class='edit-box-button'
  id='delete-field'
  style="background-color: red;"
  >Delete this field</button>

<span id='customizations'></span>

<div
  class='edit-box-button'
  id='duplicate-field'
  style="background-color: #d1e7fd; display: inline-block;"
  >
  Drag a copy of this field from here</div>

<button
  class='edit-box-button'
  id='done-button'
  style="background-color: white;"
  >Done editing</button>

</div>