<div
  id='edit-box'
>


<div class='save-or-add'>
  <button id='save-button'>Save Form</button>
</div>

<div class='duplicate-field'>
  Drag from here to make a duplicate of this field
</div>

<div class='save-or-add'>
  <button id='save-button'>Done editing</button>
</div>

</div>