<div class="main" >

  <div class='save-or-add'>
    <button id='save-button'>Save!</button>
  </div>

  <div class='edit-manual'>
    <button class='start' >Edit Form Manually</button>
  </div>
</div>