
<div class="main" >
  <div class="form-edit-box" >
    <div class="formEl reset" id="title-description" >
      <h2 id="formName"><%= form.get("name") %></h2>

      <p id="formDescription" >
        Click here to change the form name and description
      </p>
    </div>
  </div>

  <div class='save-or-add'>
    <button id='save-button'>Save!</button>
  </div>
</div>