
<div class="main" >
  <div class="title-description reset" ><input
    id="formName"
    type="text"
    name="form[name]"
    onclick="this.select();"
    value="Untitled Form"></input>

    <input
      id="formDescription"
      type="text"
      name="form[description]"
      onclick="this.select();"
      value="Click here to change the form name and description"></input></div>
</div>
