<div class="fi-30x"><style>

.fi-30x html, .fi-30x body, .fi-30x div,
.fi-30x span, .fi-30x applet, .fi-30x object,
.fi-30x h1, .fi-30x h2, .fi-30x h3,
.fi-30x h4, .fi-30x h5, .fi-30x h6,
.fi-30x p, .fi-30x blockquote, .fi-30x pre,
.fi-30x a, .fi-30x abbr, .fi-30x acronym,
.fi-30x address, .fi-30x big, .fi-30x cite,
.fi-30x code, .fi-30x del, .fi-30x dfn, .fi-30x em,
.fi-30x img, .fi-30x ins, .fi-30x kbd, .fi-30x q,
.fi-30x s, .fi-30x samp, .fi-30x small,
.fi-30x strike, .fi-30x strong, .fi-30x main,
.fi-30x sub, .fi-30x sup, .fi-30x tt, .fi-30x var,
.fi-30x b, .fi-30x u, .fi-30x i, .fi-30x center,
.fi-30x dl, .fi-30x dt, .fi-30x dd, .fi-30x ol,
.fi-30x ul, .fi-30x li, .fi-30x fieldset,
.fi-30x form, .fi-30xlegend, .fi-30x table,
.fi-30x caption, .fi-30x tbody, .fi-30x tfoot,
.fi-30x thead, .fi-30x tr, .fi-30x th,
.fi-30x td, .fi-30x article, .fi-30x aside,
.fi-30x canvas, .fi-30x details, .fi-30x embed,
.fi-30x figure, .fi-30x figcaption, .fi-30x footer,
.fi-30x header, .fi-30x hgroup, .fi-30x menu,
.fi-30x nav, .fi-30x output, .fi-30x ruby,
.fi-30x section, .fi-30x summary, .fi-30x time,
.fi-30x mark, .fi-30x audio, .fi-30x video,
.fi-30x label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

a:visited {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
.fi-30x article, .fi-30x aside, .fi-30x details,
.fi-30x figcaption, .fi-30x figure,
.fi-30x footer, .fi-30x header, .fi-30x hgroup,
.fi-30x menu, .fi-30x nav, .fi-30x section {
  display: block;
}

.fi-30x ol, .fi-30x ul {
  list-style: none;
}
.fi-30x blockquote, .fi-30x q {
  quotes: none;
}
.fi-30x blockquote:before, .fi-30x blockquote:after,
.fi-30x q:before, .fi-30x q:after {
  content: '';
  content: none;
}
.fi-30x table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------- ELEMENTS -----------------------------*/

.fi-30x h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.fi-30x h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.fi-30x div, .fi-30x main, .fi-30x section,
 .fi-30x a {
  transition: 0.15s;
  -webkit-transform: translateZ(0);
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

.fi-30x article,
.fi-30x aside,
.fi-30x details,
.fi-30x figcaption,
.fi-30x figure,
.fi-30x footer,
.fi-30x header,
.fi-30x hgroup,
.fi-30x main,
.fi-30x nav,
.fi-30x section,
.fi-30x summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

.fi-30x audio,
.fi-30x canvas,
.fi-30x video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

.fi-30x audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

.fi-30x [hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
.fi-30x {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */


/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

.fi-30x a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

.fi-30x a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

.fi-30x a:active,
.fi-30x a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

.fi-30x h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

.fi-30x abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

.fi-30x b,
.fi-30x strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

.fi-30x dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

.fi-30x hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

.fi-30x mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

.fi-30x code,
.fi-30x kbd,
.fi-30x pre,
.fi-30x samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

.fi-30x pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

.fi-30x q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

.fi-30x small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

.fi-30x sub,
.fi-30x sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.fi-30x sup {
    top: -0.5em;
}

.fi-30x sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

.fi-30x img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

.fi-30x svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

.fi-30x figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

.fi-30x fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

.fi-30x legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

.fi-30x button,
.fi-30x input,
.fi-30x select,
.fi-30x textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

.fi-30x button,
.fi-30x input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

.fi-30x button,
.fi-30x select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

.fi-30x button,
.fi-30x html input[type="button"], /* 1 */
.fi-30x input[type="reset"],
.fi-30x input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

.fi-30x button[disabled],
.fi-30x html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

.fi-30x input[type="checkbox"],
.fi-30x input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

.fi-30x input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

.fi-30x input[type="search"]::-webkit-search-cancel-button,
.fi-30x input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

.fi-30x button::-moz-focus-inner,
.fi-30x input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

.fi-30x textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

.fi-30x table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  ===============================================================
    Custom css
    ===============================================================  */

.fi-30x .formEl > label {
  position: relative;
}

.fi-30x ol, .fi-30x ul {
  list-style: none;
}

.fi-30x form#form-itable {
  margin: 0;
  padding: 20px;
  position: relative;
  background-color: white;
}

.fi-30x .fields-list {
  background-color: inherit;
}

.fi-30x .ui-draggable {
  cursor: pointer;
}

.fi-30x .ui-draggable:hover{
  background-color: pink;
}

.fi-30x .delete-field {
  position: absolute;
  top: 0;
  right: -20px;
  color: red;
  font-weight: bold;
  font-size: 8px;
  border-radius: 50%;
  background-color: #EFFAFF;
  padding: 0 4px;
  display: inline;
  z-index: 10;
}

.fi-30x .required:after {
  content: "*";
  color: red;
}

.fi-30x .formEl {
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.fi-30x .editing {
  z-index: 7;
  -webkit-box-shadow: -3px 5px 6px black;
  -moz-box-shadow: -3px 5px 6px black;
  box-shadow: -3px 5px 6px black;
  background-color: inherit;
}

.fi-30x .submit-button {
  display: inline-block;
}

</style></div>