<div class='page-title-box'>
  <h1 class='page-title'>Form Manager</h1>
</div>

<button id='create-form-button'>Create a new Form!</button>

<%forms.each(function(form){ %>
  <div class="form-summary group" data-form-id="<%= form.get('id')%>">

    

    <div class="form-links group">
      <a class='formSelect'><%= form.get('name') %></a>
      <a data-string='sendToEdit'>Edit</a>
      <a data-string='sendToView'>View</a>
      <a data-string='sendToResults'>Results</a>
      <a data-string='sendToNotifications'>Notifications</a>
      <a data-string='sendToCode'>Code</a>
			<a data-string='duplicateForm'>Duplicate</a>
      <a data-string='deleteForm'>Delete</a>      
    </div>
  </div>
<% }) %>