<h1>Form Manager</h1>

<button id='create-form-button'>Create a new Form!</button>

<%forms.each(function(form){ %>
  <div class="form-summary">
    <%= form.get('name') %>
    <div class="form-links">
      <ul>
        <li><a href="#forms/<%= form.get('id') %>/edit">Edit</a></li>
        <li><a href="#forms/<%= form.get('id') %>">View</a></li>
        <li>Analytics</li>
        <li>Notifications</li>
        <li>Form Rules</li>
        <li>Code</li>
        <li>Duplicate</li>
        <li>Delete</li>
      </ul>
    </div>
  </div>
<% }) %>