<div class='page-title-box'>
  <h1 class='page-title'>Form Manager</h1>
</div>

<a class='new-form-link' data-string='sendToNew'>Create a new Form!</a>

<%forms.each(function(form){ %>
  <div class="form-summary group" data-form-id="<%= form.get('id')%>">

    <div class="form-links group">
      <iframe data-id=<%= form.get('id') %> scrolling='no' ></iframe>
      <a class='formSelect' data-string='formSelect'>
        <%= form.get('name') %>
      </a>
      <a class='index-not' data-string='sendToNotifications'>Notifications</a>
      <a class='index-edit'data-string='sendToEdit'>Edit</a>
      <a class='index-view' data-string='sendToView'>View</a>
      <a class='index-results' data-string='sendToResults'>Results</a>
      <a class='index-delete' data-string='deleteForm'>Delete</a>
      <a class='index-dup' data-string='duplicateForm'>Duplicate</a>
      <a class='index-code' data-string='sendToCode'>Code</a>
    </div>
  </div>
<% }) %>
