<div class='page-title-box'>
  <h1 class='page-title'>Form Manager</h1>
</div>

<button id='create-form-button'>Create a new Form!</button>

<%forms.each(function(form){ %>
  <div class="form-summary" data-form-id="<%= form.get('id')%>">

    <a class='formSelect'><%= form.get('name') %></a>

    <div class="form-links group">
      <ul>
        <li><a data-string='sendToEdit'>Edit</a></li>
        <li><a data-string='sendToView'>View</a></li>
        <li><a data-string='sendToResults'>Results</a></li>
        <li><a data-string='sendToNotifications'>Notifications</a></li>
        <li><a data-string='sendToCode'>Code</a></li>
				<li><a data-string='duplicateForm'>Duplicate</a></li>
        <li><a data-string='deleteForm'>Delete</a></li>
      </ul>
    </div>
  </div>
<% }) %>