<div class='form-edit-box' 
  style="  
    background-color: #FFF;
    margin: auto;
    display: inline-block;">
	  
	<form method='post' id='form-itable' style="min-height: 800px; min-width: 900px;">

		<input type='hidden' name='form_id' id='form-id'>

	  <div
	    class="formEl"
	    class="title-description"
	    data-sidebar="FormEditTitle"
	    style="display: block
	      margin: auto;
	      text-align: center">

	    <h2 class="formName" 
	      style="display: inline-block;
				  margin: 10px auto;
				  text-align: center;
				  font-size: 30px;"
				>Untitled Form</h2>

	    <p class="formDescription" 
	      style="display: block;
				  margin: 10px auto;
				  text-align: center;"
				>Click here to change the form name and description</p>
	  </div>
	</form>
</div>