<span class='outer-wrapper'>
  <span class='inner-wrapper'>
    <form method='post'
      action='/results'
      class='form'
      id='form-itable'
      style="height: 700px; width:700px;
      background-color: #FFF;">

      <ul class='fields-list'>

        <li
          class="formEl"
          class="title-description"
          data-sidebar="FormEditTitle"
          style="display: inline-block;
            left: 168px;
            top: 0px;
            position: absolute;
            text-align: center">

          <h2 class="formName"
            style="display: inline-block;
              margin: 10px auto;
              text-align: center;
              font-size: 30px;"
            >Untitled Form</h2>

          <br>

          <p class="formDescription"
            style="display: inline-block;
              margin: 10px auto;"
            >Click here to change the form name and description</p>
        </li>

      </ul>

      <div
        class='submit-button'
        style="transition: none; position: absolute; bottom: 40px; left: 45%">

        <input
          type='submit'
          value='Submit'
          form='form-itable'
          id='form-itable-submit'>
      </div>

    </form>
  </span>
</span>