<span class='outer-wrapper'>
  <span class='inner-wrapper'>
    <form method='post'
      action='/results'
      class='form'
      style="height: 700px; width:700px;
      background-color: #FFF;">

      <ul class='fields-list'>

        <li
          class="formEl"
          class="title-description"
          data-sidebar="FormEditTitle"
          style="display: inline-block;
            left: 275px;
            top: 20px;
            position: absolute;
            text-align: center;
            font-size: 30px;">

          <p class="formName label">Untitled Form</p>
        </li>

      </ul>

      <div
        class='submit-button'
        style="transition: none; position: absolute; bottom: 40px; left: 45%">

        <input
          type='submit'
          value='Submit'>
      </div>

    </form>
  </span>
</span>