<div class='form-edit-box'>
	<form method='post' id='form-itable'>

		<input type='hidden' name='form_id' id='form-id'>

	  <div
	    class="formEl"
	    class="title-description"
	    data-sidebar="FormEditTitle">

	    <h2 class="formName">Untitled Form</h2>

	    <p class="formDescription">
	      Click here to change the form name and description
	    </p>
	  </div>
	</form>

</div>