<section class='body group'>

  <iframe class='form-iframe' 
    src='javascript:void(0)'
    style="  
      background-color: white;
      display: block;
      border: none;
      overflow: hidden;
      padding: 40px;"></iframe>
      
</section>