<form class="form-edit-box" >
  <div class="formEl" id="title-description" data-sidebar="FormEditTitle">
    <h2 id="formName">Untitled Form</h2>

    <p id="formDescription" >
      Click here to change the form name and description
    </p>
  </div>
</form>