<section class='body group'>

  <iframe class='form-iframe' 
    src='javascript:void(0)'
    style="  
      background-color: white;
      height: 100%;
      width: 100%;
      margin: auto;
      display: block;
      border: none;"></iframe>
      
</section>