<form class="form-edit-box" >
  <div
    class="formEl"
    class="title-description"
    id= "AFB-1"
    data-sidebar="FormEditTitle">

    <h2 class="formName">Untitled Form</h2>

    <p class="formDescription" >
      Click here to change the form name and description
    </p>
  </div>
</form>