<section class='body group'>

  <iframe class='form-edit-box' 
    src='javascript:void(0)'
    style="  
      background-color: white;
      min-height: 600px;
      width: 800px;
      padding: 20px;
      margin: auto;
      display: block;"></iframe>
      
</section>