<div class='sidebar_window'>
  <section class='sidebar_header'>
    <a href="#" id="move-to-add-fields">Add Fields</a>
    <a href="#" id="move-to-field-settings">Field Settings</a>
    <a href="#" id="move-to-form-settings">Form Settings</a>
  </section>

</div>