<div class="sidebar" id="all-fields-sidebar">

<h2>Customize your Textbox</h2>

<label>Label
  <input type='text' name='textbox-label'>
</label>

<label>Width
  <input
    type='text'
    data-attribute='width'
    name='textbox-label'/>
</label>

</div>
