<div id='content'>

</div>

<script type="application/json"
  id="bootstrapped_form_json"
  data-account-id=<%= current_user.account.id %>>
  <%= @forms.to_json.html_safe %>
</script>

<script>
$(function(){
  var $bootstrap = $('#bootstrapped_form_json');
  window.ACCOUNT_ID = $bootstrap.data('accountId');
  var forms = JSON.parse($bootstrap.html());
  console.log(forms);

  window.AFB.initialize($('#content'), forms)
});
</script>