<!-- <link rel="stylesheet" href="/assets/stylesheets/forms/new.css" type="text/css" charset="utf-8"> -->
<div id='content'>

  <div class="sidebar" id="input-options">
    <%= render partial: "inputs" %>
  </div>

</div>



<script>
$(function(){
  window.AFB.initialize($('#content'))
});
</script>