<style>

  .fi-30x-host {
    display: block;
    text-align: center;
  }

  .fi-30x-host .fi-30x-host-div {
    display: inline-block;
  }

  .fi-30x-site-plug {
    margin: 8px 0 40px 0;
    text-align: center;
  }

  .fi-30x-left-top-corner {
    position: absolute;
    left: 0;
    top: 0;
  }
</style>

<%= stylesheet_link_tag    "forms", :media => "all" %>

<h4 class='fi-30x-site-plug'>
  <a href="http://form-itable.com">Form powered by Form-itable.com</a>
</h4>

<div class='fi-30x-left-top-corner'>
  <a href="http://form-itable.com" class='corner-logo'>
    <div class= 'corner-logo-box'>
      <h1 id='corner-logo-part1'>Form</h1>
      <div class='corner-logo-box2'>
        <h1 id='corner-logo-part2'>-itable</h1>
        <div class='blinking-cursor'></div>
      </div>
    </div>
  </a>
</div>

<main class='group fi-30x-host'>
  <div class='fi-30x-host-div'>
    <%= @form_wrapper.html_safe %>

      <%= @form.form_text.html_safe %>

    </div>  <!-- closes .fi-30x div from form_wrapper -->
  </div>
</main>