

.sidebar {
  background-color: lightblue;
  border: 2px dotted blue;
  width: 25%;
  height: 450px;
  float: left;
}

.main {
  background-color: #CCFFFF;
  width: 50%;
  height: auto;
  min-height: 450px;
  border: 2px solid blue;
  float: left;
}

.main #formName {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  width: 80%;
}

.main #formDescription {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 80%;
}

/*.main .reset {
  border: 0;
  background-color: inherit;
}*/

.reset * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: inherit;
}