/* --- RESET --- */
html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, main, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form,legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

a:visited {
	font: inherit;
	text-decoration: none;
	color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------- ELEMENTS -----------------------------*/

body {
  font-family: sans-serif;
  font-size: 16px;
  display: block;
  background-color: $dark-steel;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, $background-faded-yellow 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, $background-blue 50%),
  linear-gradient(90deg, transparent 50%, $background-yellow 50%);
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
	-webkit-linear-gradient(left, $background-faded-yellow 50%, transparent 50%),
	-webkit-linear-gradient(left, transparent 50%, $background-blue 50%),
	-webkit-linear-gradient(left, transparent 50%, $background-yellow 50%);
	background-size: 13px, 29px, 37px, 53px;
	margin-top: 0;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 15px;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 20px;
}

div, main, section, a {
	transition: 0.15s;
  -webkit-transform: translateZ(0);
}

/* --- CLEARFIX  --- */

.group:after{
  content: "";
  clear: both;
  display: table;
}

/* --- LOGO --- */

.logo {
	display: block;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

.logo-box {
	position: relative;
	z-index: 50;
	transition: 0.15s;
	background-color: white;
	margin: 0 70px;
	border-radius: 20px;
  -webkit-box-shadow: 0 0 100px 80px white;
	box-shadow: 0 0 100px 80px white;
}

.logo h1 {
	font-size: 44px;
	margin: 5px 0 0px 0;
	display: inline-block;
}

.logo #logo-part1 {
	margin-right: 4px;
	font-size: 48px;
	font-weight: bold;
}

.logo-box2 {
	display: inline-block;
	box-shadow: 0 0 5px 2px $blue;
	padding: 0px 40px 0px 3px;
	margin: 5px 1px 3px 0px;
	border: 3px groove $blue;
}

.logo .blinking-cursor {
	background-color: #000;
	display: inline-block;
	position: absolute;
	z-index: 10;
	height: 45px;
	margin: 2px 0;
	float: left;
	width: 2px;
}

@keyframes cursorBlink
{
	24% {opacity: 1;}
	25% {opacity: 0;}
	74% {opacity: 0;}
	75% {opacity: 1;}
}

@-webkit-keyframes cursorBlink /* Safari and Chrome */
{
	24% {opacity: 1;}
	25% {opacity: 0;}
	74% {opacity: 0;}
	75% {opacity: 1;}
}

.blinking-cursor {
animation: cursorBlink 1s linear infinite;
-webkit-animation: cursorBlink 1s linear infinite; /* Safari and Chrome */
}

/* --- "Signed in as" box --- */

/* --- General --- */

.hidden {
  display: none;
}

.bold {
	font-weight: bold;
}

.signed-in {
	position: absolute;
	display: inline-block;
//	float: right;
	top: 1em;
	right: 1em;
	z-index: 100;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);				
	box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.5);
}

.notice {
//  display: inline-block;
//  position: absolute;
//  top: 1em;
//  left: 1em;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 0 20px 15px rgba(255, 255, 255, 0.75);
  color: darkred;
  font-size: 24px;
  display: block;
  text-align: center;
  margin: 20px auto;
}

.flash-msgs {
  display: inline-block;
}