@import "compass/css3";

$blue: #8FCBFB;
$faded-blue: #D1E7FD;
$very-pale-blue: #EFFAFF;
$light-green: #D2FFB3;
$pale-green: #DCF8CD;
$pale-yellow: #FFFFC2;
$background-faded-yellow: rgba(255, 255, 194, 0.13);
$background-blue: rgba(225, 242, 255, 0.17);
$background-yellow: rgba(255,255,145,.19);
$steel: #A3A3A3;
$light-steel: #B0AFB0;
$lighter-steel: #D1D1D1;
$pale-steel: #EFEFEF;
$dark-steel: #8A898A;
$darker-steel: #636363;
$sky-blue: #D1EAFD;
/*******************************************************************/
