// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.editing {
  background-color: $light-green;
}

.required:after {
  content: "*";
  color: red;
}

.delete-field {
  color: red;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50%;
  background-color: $very-pale-blue;
}

.body {
  display: block;
  height: 100%;
  width: 100%;
}

.sidebar_window {
  background-color: lightblue;
  width: 35%;
  height: 100%;
  float: left;
}

.sidebar {
  border: 2px dotted blue;
}

.sidebar_header {
  background-color: $very-pale-blue;
  font-size: 12px;
}

.sidebar_header a {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.main {
  width: 65%;
  height: 100%;
//  min-height: 450px;
  float: left;
}

.form-edit-box {
  background-color: #FFFFCC;
  min-height: 348px;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
}

.save-or-add {
  background-color: #CCFFFF;
  min-height: 48px;
}

.title-description {
  margin: 10px auto;
}

.formName {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  width: 80%;
}

.formDescription {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 80%;
}

.form-summary {
  background-color: #C6EFF7;
}

.form-summary:nth-child(3n) {
 background-color: #95E5F5;
}

.form-summary:nth-child(3n - 2) {
 background-color: #FFFFCC;
}

.form-links li {
  display: inline;
  margin: 0 10px;
}

.radio-option-title {
  display: inline;
}