@import "application";
@import "app";

/* --- ELEMENTS --- */

.body {
  display: block;
  height: 100%;
  width: 100%;
}

.main {
  width: 60%;
  height: 100%;
//  min-height: 450px;
  float: left;
}

a:hover {
  cursor: pointer;
}

/* --- LOGO --- */

.corner-logo {
  display: inline-block;
  margin: 25px auto;
  position: relative;
/*  top: 0px;*/
}

.corner-logo-box {
  position: relative;
  display: inline-block;
  z-index: 50;
  transition: 0.15s;
  background-color: white;
  margin: 0 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 40px white;
  box-shadow: 0 0 50px 40px white;
}

.corner-logo h1 {
  font-size: 22px;
  margin: 3px 0 0px 0;
  display: inline-block;
}

.corner-logo #corner-logo-part1 {
  margin-right: 2px;
  font-size: 24px;
  font-weight: bold;
}

.corner-logo-box2 {
  display: inline-block;
  box-shadow: 0 0 3px 1px $blue;
  padding: 0px 20px 0px 2px;
  margin: 3px 1px 2px 0px;
  border: 2px groove $blue;
}

.corner-logo .blinking-cursor {
  background-color: #000;
  display: inline-block;
  position: absolute;
  z-index: 10;
  height: 23px;
  margin: 1px 0;
  float: left;
  width: 1px;
}

/* --- FLASH --- */

.flash-msgs {
  display: block;
  text-align: center;
}

.notice {
  display: inline-block;
  margin: auto;
}

/* --- HEADER --- */
header {
  display: block;
  min-width: 800px;
}

.nav-bar {
  float: right;
}

.nav-bar li {
  display: inline-block;
  margin: 40px 20px 20px 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 10px white;
  box-shadow: 0 0 30px 20px white;
  font-size: 22px;
  border-radius: 5px;
}

.nav-bar a {
  color: black;
}

.nav-bar a:hover {
  text-shadow: -2px 2px 3px black;
  -webkit-text-shadow: -2px 2px 3px black;
}

/* --- FORM INDEX --- */

.page-title-box {
  margin: auto;
  display: block;
  width: 800px;
  text-align: center;
}

.page-title {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin: 25px;
  box-shadow: 0 0 40px 25px #EEE;
  background-color: #EEE;
  border-radius: 20px;
}

$formSelect-dim: 130px;
$formSelect-padding: 10px;
$formSelect-margin: 50px;

.form-summary {
  display: inline-block;
  width: $formSelect-dim + ($formSelect-padding * 2);
  height: $formSelect-dim + ($formSelect-padding * 2);
  margin: $formSelect-margin;

  .form-links {
    display: block;
    width: $formSelect-dim + ($formSelect-padding * 2);
    height: $formSelect-dim + ($formSelect-padding * 2);
  }

  .form-links a {
    height: 50px;
    width: 50px;
    background-color: white;
    display: inline-block;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    margin: $formSelect-margin;
    box-shadow: -3px 5px 6px black;
  }

  a.formSelect {
    width: $formSelect-dim;
    height: $formSelect-dim;
    padding: $formSelect-padding;
    display: block;
    margin: 0;
    float: left;
    background-color: $sky-blue;
    z-index: 1;
    border: 1px solid black;
  }

  a.formSelect:active {
    top: 3px;
    left: -3px;
    box-shadow: none;
  }

  .form-links.clicked {

    a {
      margin: 0;
    }

    a.formSelect {
      box-shadow: -6px 10px 12px black;
    }

    a.formSelect:active {
      box-shadow: none;
    }

    a.index-edit {
      width: $formSelect-dim + $formSelect-padding * 2;
      top: -50px;
    }

    a.index-view {
      height: $formSelect-dim + $formSelect-padding * 2;
      right: -50px;
    }

    a.index-results {
      height: $formSelect-dim + $formSelect-padding * 2;
      left: -50px;
    }

    a.index-code {
      width: $formSelect-dim + $formSelect-padding * 2;
      bottom: -50px;
    }

    a.index-not {
      top: -50px;
      right: -50px;
    }

    a.index-delete {
      background-color: red;
      bottom: -50px;
      right: -50px;
    }

    a.index-dup {
      bottom: -50px;
      left: -50px;
    }
  }
}

/* --- FORM --- */

.form-edit-box {
  background-color: #FFFFCC;
  min-height: 348px;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
}

.editing {
  background-color: $light-green;
}

.required:after {
  content: "*";
  color: red;
}

.delete-field {
	float: right;
  color: red;
  font-weight: bold;
  font-size: 8px;
  border-radius: 50%;
  background-color: $very-pale-blue;
	padding: 0 4px;
}

.save-or-add {
  background-color: #CCFFFF;
  min-height: 48px;
}

.title-description {
  margin: 10px auto;
}

.formName {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
}

.formDescription {
  display: block;
  margin: 10px auto;
  text-align: center;
}

/* --- SHOWFORM --- */

/* --- SIDEBAR --- */

.sidebar_window {
  background-color: lightblue;
  width: 40%;
  height: 100%;
  float: left;
}

.sidebar_header {
  background-color: $very-pale-blue;
  font-size: 18px;
}

.sidebar_header a {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.sidebar {
  border: 2px dotted blue;
}




