@import "application";
@import "app";

/* --- ELEMENTS --- */

.body {
  display: block;
  height: 100%;
  width: 100%;
}

.main {
  width: 60%;
  height: 100%;
//  min-height: 450px;
  float: left;
}

/* --- LOGO --- */

.corner-logo {
  display: inline-block;
  margin: 25px auto;
  position: relative;
/*  top: 0px;*/
}

.corner-logo-box {
  position: relative;
  display: inline-block;
  z-index: 50;
  transition: 0.15s;
  background-color: white;
  margin: 0 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 40px white;
  box-shadow: 0 0 50px 40px white;
}

.corner-logo h1 {
  font-size: 22px;
  margin: 3px 0 0px 0;
  display: inline-block;
}

.corner-logo #corner-logo-part1 {
  margin-right: 2px;
  font-size: 24px;
  font-weight: bold;
}

.corner-logo-box2 {
  display: inline-block;
  box-shadow: 0 0 3px 1px $blue;
  padding: 0px 20px 0px 2px;
  margin: 3px 1px 2px 0px;
  border: 2px groove $blue;
}

.corner-logo .blinking-cursor {
  background-color: #000;
  display: inline-block;
  position: absolute;
  z-index: 10;
  height: 23px;
  margin: 1px 0;
  float: left;
  width: 1px;
}

/* --- FLASH --- */

.flash-msgs {
  display: block;
  text-align: center;
}

.notice {
  display: inline-block;
  margin: auto;
}

/* --- HEADER --- */
header {
  display: block;
  min-width: 800px;
}

.nav-bar {
  float: right;
}

.nav-bar li {
  display: inline-block;
  margin: 40px 20px 20px 20px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px 10px white;
  box-shadow: 0 0 30px 20px white;
  font-size: 22px;
  border-radius: 5px;
}

.nav-bar a {
  color: black;
}

.nav-bar a:hover {
  text-shadow: -2px 2px 3px black;
  -webkit-text-shadow: -2px 2px 3px black;
}

/* --- FORM INDEX --- */

.page-title-box {
  margin: auto;
  display: block;
  width: 800px;
  text-align: center;
}

.page-title {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin: 25px;
  box-shadow: 0 0 40px 25px #EEE;
  background-color: #EEE;
  border-radius: 20px;
}

.form-summary {
  width: 150px;
  height: 150px;
  margin: 50px;
  position: relative;
  float: left;
  border-radius: 10px;
  box-shadow: -3px 5px 6px black;
  text-align: right;
}

.form-summary:hover {
  top: -3px;
  left: 3px;
  box-shadow: -6px 10px 12px black;
}

.form-summary a{
  display: inline-block;
  height: 130px;
  width: 130px;
  padding: 10px;
}

/* --- FORM --- */

.form-edit-box {
  background-color: #FFFFCC;
  min-height: 348px;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
}

.editing {
  background-color: $light-green;
}

.required:after {
  content: "*";
  color: red;
}

.delete-field {
	float: right;
  color: red;
  font-weight: bold;
  font-size: 8px;
  border-radius: 50%;
  background-color: $very-pale-blue;
	padding: 0 4px;
}

.save-or-add {
  background-color: #CCFFFF;
  min-height: 48px;
}

.title-description {
  margin: 10px auto;
}

.formName {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
}

.formDescription {
  display: block;
  margin: 10px auto;
  text-align: center;
}

/* --- SHOWFORM --- */

.form-summary {
  background-color: #C6EFF7;
}

.form-summary:nth-child(3n) {
 background-color: #95E5F5;
}

.form-summary:nth-child(3n - 2) {
 background-color: #FFFFCC;
}

.form-links li {
  display: inline;
  margin: 0 10px;
}

/* --- SIDEBAR --- */

.sidebar_window {
  background-color: lightblue;
  width: 40%;
  height: 100%;
  float: left;
}

.sidebar_header {
  background-color: $very-pale-blue;
  font-size: 18px;
}

.sidebar_header a {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.sidebar {
  border: 2px dotted blue;
}




