@import "application";
@import "app";

.home-page {
	position: relative;
	display: block;
	background-color: $faded-blue;//#F1F5FF;
	opacity: 0.70;
	margin: auto;
	border-radius: 20px;
	padding: 20px;
}

main.home-page-content {
	display: block;
	margin: auto;
	width: 500px;
}

.hover-div {
	box-shadow: 0 0 120px 80px transparent;
	border-radius: 30px;
}

.hover-div:hover{
	box-shadow: 0 0 120px 80px #EEE;
	background-color: #EEE;
}

.hover-div:hover section.home-page{
	box-shadow: -6px 10px 12px black;
  background-color: #D1EAFD;
	opacity: 0.85;
}

.hover-div .home-page-button:nth-child(2n - 1):hover{
	background-color: $pale-yellow;
}

.hover-div .home-page-button:nth-child(2n):hover{
	background-color: $pale-green;
}

.home-page p {
	text-align: justify;
	margin: 5px 10px 20px 10px;
	line-height: 1.3em;
}

.home-page .sign-in-sign-up{
	text-align: center;
  margin: 20px 0 0 0;
}

.home-page-button{
	display: inline-block;
	position: relative;
	margin: 0 40px;
	width: 100px;
	padding: 30px 0;
	text-decoration: none;
  font-size: 20px;
	color: inherit;
	border: 3px groove grey;
	border-radius: 10px;
	background-color: white;
}

.home-page-button:hover{
	box-shadow: -4px 6px 4px black;
	font-weight: bold;
	bottom: 2px;
	left: 2px;
  cursor: pointer;
}

.home-page-button:active{
	position: relative;
	box-shadow: 0 0 0 0 transparent;
	font-weight: normal;
	bottom: 0;
	left: 0;
	border: 3px ridge grey;
}

.home-page input {
  margin: 5px 0 20px 0;
}

.home-page label {
  font-size: 20px;
}

/* --- ERROR MESSAGES --- */
