// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body {
//	background-color: $pale-green;
//}

.logo {
	display: block;
	margin: 50px auto;
	width: 540px;
	text-align: center;
}

.logo-box {
	background-color: white;
	margin: 0 115px;
	padding: 0px 0;
	border-radius: 20px;
	box-shadow: 0 0 70px 50px white;
}

main.home-page {
	display: block;
	height: 400px;
	width: 500px;
	background-color: white;
//	border: 1px solid black;
	box-shadow: -6px 10px 8px black;
	margin: 100px auto;
	border-radius: 20px;
	padding: 20px;
}