@import "application";
@import "app";


.-blue- {
  background-color: $blue;
}

.-faded-blue- {
  background-color: $faded-blue;
}

.-very-pale-blue- {
  background-color: $very-pale-blue;
}

.-light-green- {
  background-color: $light-green;
}

.-pale-green- {
  background-color: $pale-green;
}

.-pale-yellow- {
  background-color: $pale-yellow;
}

.-background-faded-yellow- {
  background-color: $background-faded-yellow;
}

.-background-blue- {
  background-color: $background-blue;
}

.-background-yellow- {
  background-color: $background-yellow;
}

.-steel- {
  background-color: $steel;
}

.-light-steel- {
  background-color: $light-steel;
}

.-lighter-steel- {
  background-color: $lighter-steel;
}

.-pale-steel- {
  background-color: $pale-steel;
}

.-dark-steel- {
  background-color: $dark-steel;
}

.-darker-steel- {
  background-color: $darker-steel;
}

