<html>
<head>
	<link href="http://localhost:3000/assets/swatches.css?body=1" media="all" rel="stylesheet" type="text/css">
<style>

ul {
	display: block;
	width: 800px;
}

li {
	width: 200px;
	height: 50px;
	float: left;
}
</style>
</head>
<body>

<ul class="color-swatches group">
  <li class='-blue-'>$blue</li>
  <li class='-faded-blue-'>$faded-blue</li>
  <li class='-very-pale-blue-'>$very-pale-blue</li>
  <li class='-light-green-'>$light-green</li>
  <li class='-pale-green-'>$pale-green</li>
  <li class='-pale-yellow-'>$pale-yellow</li>
	<li class='-steel-'>$steel</li>
	<li class='-light-steel-'>$light-steel</li>
	<li class='-lighter-steel-'>$lighter-steel</li>
	<li class='-pale-steel-'>$pale-steel</li>
	<li class='-dark-steel-'>$dark-steel</li>
	<li class='-darker-steel-'>$darker-steel</li>
	<li class='-$background-faded-yellow-'>$background-faded-yellow</li>
	<li class='-$background-blue-'>$background-blue</li>
	<li class='-$background-yellow-'>$background-yellow</li>			
</ul>
</body>
</html>